<div class="form-group">
  <%= f.label :ratings %>
  <%= f.text_field :ratings,
                    class: 'form-control',
                      placeholder: "Enter rating here (PG, PG13, or R)" %>
</div>
